.plan {
	padding-top: calc(40 / 16 * 1rem);
	padding-bottom: calc(80 / 16 * 1rem);
	scroll-margin-top: 112px; 
	@media (max-width: 650px){
	padding-bottom: calc(50 / 16 * 1rem);	 
	scroll-margin-top: 0px; 
	}
}
.plan__container {
}
.plan__content {
	@media (min-width:992.98px){
		border-top: calc(1 / 16 * 1rem) solid var(--main-black);
		display: grid;
		grid-template-columns: calc(400 / 16 * 1rem) 1fr;
	}
	
}
.plan__content--wrapper{
}
.plan__content--title {
	@media (min-width:992.98px){
		padding-top: calc(50 / 16 * 1rem);
		border-right: calc(1 / 16 * 1rem) solid var(--main-black);
		grid-row: 1 / span 9;
	}
	@media (max-width: 650px){
		 text-align: center; 
	}
}
.plan__content-inner{
	@media (max-width: 992.98px){
		margin-bottom: calc(32 / 16 * 1rem);
		margin-top: calc(32 / 16 * 1rem); 
	}
	@media (max-width: 650px){
		margin-bottom: calc(24 / 16 * 1rem);
		margin-top: calc(24 / 16 * 1rem); 
	}
}
	@media (min-width:992.98px){
	.plan__content-inner {
		padding-bottom: calc(32 / 16 * 1rem);
		padding-top: calc(32 / 16 * 1rem);
		padding-left: 15%;
		border-bottom: calc(1 / 16 * 1rem) solid var(--main-black);
	}
	.plan__content-inner:last-child {
		padding-bottom: calc(156 / 16 * 1rem);
		border-bottom: none;
	}
}
.inner-plan--01 {
	@media (min-width:992.98px){
		padding-top: calc(126 / 16 * 1rem);
		padding-bottom: calc(32 / 16 * 1rem);	  
	}
	@media (max-width: 992.98px){
		margin-top: calc(32 / 16 * 1rem);
	}
	@media (max-width: 650px){
		margin-top: calc(12 / 16 * 1rem);
	}
}
.inner-plan__time {
	display: flex;
	flex-direction: column;
	gap: calc(8 / 16 * 1rem);
	
}
.plan__time-span {
	display: flex;
	flex-direction: column;
	gap: calc(8 / 16 * 1rem);
	font-size: calc(64 / 16 * 1rem);
	font-family: var(--font-NotoSerifDisplayLight),serif;
	font-weight: 300;
	letter-spacing: calc(0 / 16 * 1rem);
	text-transform: uppercase;
	line-height: 120%;
	@media (max-width: 650px){
		text-align: center;
	}
	@media (max-width: 385px){
	font-size: calc(50 / 16 * 1rem);
		  
	}
}
.inner-plan__text {
	line-height: 118%;
	margin-top: calc(18 / 16 * 1rem);
}
