/* Montserrat Light */
@font-face {
	font-family: 'MontserratLight';
	src: url('./Montserrat-Light.woff2') format('woff2'),
		 url('./Montserrat-Light.woff') format('woff'),
		 url('./Montserrat-Light.ttf') format('truetype');
	font-style: normal;
	font-weight: 300;
	font-display: swap;
  }
  
  /* Montserrat Regular */
  @font-face {
	font-family: 'MontserratRegular';
	src: url('./Montserrat-Regular.woff2') format('woff2'),
		 url('./Montserrat-Regular.woff') format('woff'),
		 url('./Montserrat-Regular.ttf') format('truetype');
	font-style: normal;
	font-weight: 400;
	font-display: swap;
  }
  
  /* Montserrat Medium */
  @font-face {
	font-family: 'MontserratMedium';
	src: url('./Montserrat-Medium.woff2') format('woff2'),
		 url('./Montserrat-Medium.woff') format('woff'),
		 url('./Montserrat-Medium.ttf') format('truetype');
	font-style: normal;
	font-weight: 500;
	font-display: swap;
  }
  
  /* Roboto Light */
  @font-face {
	font-family: 'RobotoLight';
	src: url('./Roboto-Light.woff2') format('woff2'),
		 url('./Roboto-Light.woff') format('woff'),
		 url('./Roboto-Light.ttf') format('truetype');
	font-style: normal;
	font-weight: 300;
	font-display: swap;
  }
  
  /* Roboto Medium */
  @font-face {
	font-family: 'RobotoMedium';
	src: url('./Roboto-Medium.woff2') format('woff2'),
		 url('./Roboto-Medium.woff') format('woff'),
		 url('./Roboto-Medium.ttf') format('truetype');
	font-style: normal;
	font-weight: 500;
	font-display: swap;
  }
  
  /* Inter Regular */
  @font-face {
	font-family: 'InterRegular';
	src: url('./Inter-Regular.woff2') format('woff2'),
		 url('./Inter-Regular.woff') format('woff'),
		 url('./Inter-Regular.ttf') format('truetype');
	font-style: normal;
	font-weight: 400;
	font-display: swap;
  }
  
  /* Noto Serif Display Light */
  @font-face {
	font-family: 'NotoSerifDisplayLight';
	src: url('./NotoSerifDisplay-Light.woff2') format('woff2'),
		 url('./NotoSerifDisplay-Light.ttf') format('truetype');
	font-style: normal;
	font-weight: 300;
	font-display: swap;
  }
  
  /* Noto Serif Regular */
  @font-face {
	font-family: 'NotoSerifRegular';
	src: url('./NotoSerif.woff2') format('woff2'),
		 url('./NotoSerif.woff') format('woff'),
		 url('./NotoSerif.ttf') format('truetype');
	font-style: normal;
	font-weight: 400;
	font-display: swap;
  }
  
  /* Noto Sans Light */
  @font-face {
	font-family: 'NotoSansLight';
	src: url('./NotoSansLight.woff2') format('woff2'),
		 url('./NotoSansLight.woff') format('woff'),
		 url('./NotoSansLight.ttf') format('truetype');
	font-style: normal;
	font-weight: 300;
	font-display: swap;
  }
  
  /* Noto Sans Display Light */
  @font-face {
	font-family: 'NotoSansDisplayLight';
	src: url('./noto-sans-display-light.woff2') format('woff2'),
		 url('./noto-sans-display-light.woff') format('woff'),
		 url('./noto-sans-display-light.ttf') format('truetype');
	font-style: normal;
	font-weight: 300;
	font-display: swap;
  }
  